    {% include "base.html" %}
    <BR>
    <CENTER><B>Please fill the details to be contacted </B> <BR>
    <CENTER><B>  </B>

      <form action="/ProjectP/post_contact_info" method="post">
        <br>
        First name: <input type="text" name = "first"><br>
        <br>
        Last name: <input type="text" name = "last"><br>
        <br>
        Email ID : <input type="email" padding-left:20 name = "email"><br>
        <br>
        <input type="submit" value="Submit">

      </form>

      <ul>
        {%if info%}

          You're details have been entered are the following: <br>
          {% for i in info %}
            {{i}} <br>
          {%endfor%}

        {%endif%}
      <BR>


    </CENTER>
