<HTML>
  <HEAD>
    <TITLE>Homepage</TITLE>
    <style>

      .nav{
        background-color: #f1f1f1;
        text-align: center;
      }

      .nav li{
        display: inline-block;
        font-size: 20px;
        padding: 20px;
      }


    </style>

  </HEAD>
  <BODY>

    <ul class= "nav">

      <li><a href = "Home">Home</a>
      <li><a href="ProjectP/resume">About Me</a>
      <li><a href="ProjectP/Contact Information Page">Contact Information </a>
      <li><a href="{{url_for('login')}}">Admin</a>

    </ul>

  </BODY>
</HTML>
